*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}



/* ..........  container div ........... */




.container{
    width: 100%;
}
@media screen and (max-width: 2560px) {
    .container{
        max-width: 1536px;
    }
}
@media screen and (max-width: 1440px) {
    .container{
        max-width: 1280px;
    }
}
@media screen and (max-width: 1024px) {
    .container{
        max-width: 976px;
    }
}
@media screen and (max-width: 768px) {
    .container{
        max-width: 720px;
    }
}
@media screen and (max-width: 425px) {
    .container{
        max-width: 425px;
    }
}
@media screen and (max-width: 320px) {
    .container{
        max-width: 100%;
    }
}

/* ........ function bar ......... */

.functions-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #EEEEEE;
}
.functions-bar-container{
    display: flex;
    justify-content: space-between;
}
.box1,
.box2{
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
}
.box1{
    margin-right: 60px;
}
.boxes{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
.box{
    display: flex;
    gap: 10px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.548);
    cursor: pointer;
    align-items: center;
}
.language-btn{
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 2px;
    color: rgb(85, 85, 85);
    cursor: pointer;
    background: white;
    font-size: 14px;
}

.flages{
    display: flex;
    gap: 10px;
}
.flages>img{
    width: 20px;
    cursor: pointer;
}
.drp{
    display: none;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
}
@media screen and (max-width: 640px) {
    .functions-bar-container{
        justify-content: center;
    }
    .box1,
    .box2{
        display: none;
    }
    .drp{
        display: flex;
    }
}

/* ........ navbar ......... */

nav{
    width: 100%;
    height: 85px;
    z-index: 100;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    background: white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.205);
}
.logo{
    width: 220px;
    cursor: pointer;
}
.logo>img{
    width: 100%;
}
.menu{
    display: flex;
    align-items: center;
    gap: 25px;
}
.menu-items{
    display: flex;
    gap: 10px;
}
.menu-item{
    display: flex;
    padding: 10px 10px 6px 10px;
}

.menu-item>span{
    position: relative;
    cursor: pointer;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.479);
    font-size: 16px;
    text-transform: capitalize;
    padding-bottom: 4px;
}
.menu-item>span::after{
    content: '';
    height: 2px;
    display: block;
    transition: 0.5s;
    width: 0%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #8dc63f;
    transition: 0.5s;
}
.menu-item>span:hover::after{
    width: 100%;
}
.btns{
    display: flex;
    gap: 10px;
}
.btn{
    padding: 12px 25px;
    border: 1px solid #0d6db7;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}
.btn:hover{
    transform: scale(10px);
}
.btn1{
    background: #0d6db7;
}
.btn2{
    background: #8dc63f;
}
.bars-label{
    display: none;
}
.bars{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.26);
    cursor: pointer;
    border-radius: 10px;
}
#navbar-toggle{
    display: none;
}
@media screen and (max-width: 1535px) {
    
}
@media screen and (max-width: 1280px) {
    nav{
        position: relative;
        justify-content: space-between;
    }
    .menu{
        width: 100%;
        position: absolute;
        display: flex;
        align-items: start;
        flex-direction: column;
        column-gap: 10px;
        left: 0%;
        top: 110px;
        transform: scaleY(0%);
        transition: 0.5s;
        transform-origin: top;
        background: white;
        padding: 15px 30px;
    }
    #navbar-toggle:checked ~ div.menu{
        transform: scaleY(100%);
    }
    .menu-items{
        width: 100%;
        flex-direction: column;
        column-gap: 10px;
    }
    .menu-item{
        display: flex;
        width: 100%;
    }
    .btns{
        width: 100%;
        flex-direction: column;
        column-gap: 10px;
    }
    .btn{
        text-align: center;
    }
    .bars-label{
        display: block;
    }
}

.nav-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* ....... main body ......... */


.main-body{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.main-body-container{
    display: flex;
    height: 560px;
    justify-content: center;
}
.main-body-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.largest-h{
    font-size: 38px;
    margin-bottom: 40px;
    font-weight: 500;
    line-height: 45px;
    font-style: normal;
}
.green-text{
    color: #8dc63f;
}
.jamni-text{
    color: #0d6db7;
}
.text-one{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 550;
    font-style: normal;
}
.main-body-pera{
    font-size: 16px;
    margin-bottom: 10px;
    color: #797979;
}
.main-body-btn>span{
    font-size: 14px;
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid black;
    height: 50px;
    cursor: pointer;
}
.main-img{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-img>img{
    height: 100%;
}


@media screen and (max-width: 2560px) {
    .main-body-text{
        max-width: 768px;
    }
    .main-img{
        max-width: 786px;
    }
}
@media screen and (max-width: 1440px) {
    .main-body-text{
        max-width: 640px;
    }
    .main-img{
        max-width: 640px;
    }
}
@media screen and (max-width: 1024px) {
    .main-body-text{
        max-width: 488px;
        padding-left: 0%;
    }
    .main-img{
        max-width: 488px;
    }
    .main-img>img{
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .main-body-container{
        max-width: 100% !important;
        height: auto;
        padding: 0%;
        margin: 0%;
    }
    .main-body-text{
        max-width: 360px;
        padding-left: 0%;
    }
    .main-img{
        max-width: 360px;
    }
    .largest-h{
        font-size: 28px;
        line-height: 30px;
    }
    .text-one{
        font-size: 15px;
    }
    .main-body-pera{
        font-size: 10px;
    }
    .main-body-btn>span{
        width: 170px;
        height: 40px;
    }
}
@media screen and (max-width: 425px) {
    .main-body-text{
        padding: 20px;
        padding-left: 0%;
    }
    .main-img{
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .main-body-text{
        padding: 20px;
    }
    .main-img{
        display: none;
    }
}

/* .......... donate bar ............ */

.donate-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.donate-bar-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0fcda;
    border-radius: 20px;
    gap: 40px;
    padding: 50px 25px;
}

.amount-input{
    background: #424242;
    border: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    border-radius: 10px;
}
.set-amount-input{
    height: 100%;
    border: none;
    outline: none;
    color: black;
    padding: 10px;
}
.genral{
    
    padding: 15px;
}
.Rs{
    padding: 15px;
    font-size: 20px;
}


.donate-bar-btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.U-btn{
    font-size: 14px;
    padding: 15px 40px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    cursor: pointer;
}
.U-btn:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    background: #424242;
    color: white;
}
.donate-btn{
    background: #8dc63f;
    color: white;
}
.donate-btn:hover{
    background: #8dc63f;
}

@media screen and (max-width: 1440px) {
    .donate-bar{
        padding: 20px 0px;
    }
    .donate-bar-btns{
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }
    .U-btn{
        padding: 15px 25px;
    }
}
@media screen and (max-width: 1024px) {
    .donate-bar-container{
        flex-direction: column;
    }
    .amount-input{
        width: 100%;
    }
    .set-amount-input{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .container{
        max-width: 720px;
    }
}
@media screen and (max-width: 425px) {
    .container{
        max-width: 425px;
    }
}
@media screen and (max-width: 320px) {
    .container{
        max-width: 100%;
    }
}


/* .......... slider imgs ......... */

